{% extends "shared/layout.tmpl" %}

{% block title %}Adresa{% endblock %}

{% block content %}
  <h3>Adresa</h3>
  <p>{{jmeno }} {{prijmeni }}</p>
  <p>{{ulice }}</p>
  <p>{{mesto }} {{psc }}</p>
{% endblock %}
